<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>Awesome Website - contact</title>
    <link href="/assets/styles.css" type="text/css"/>
</head>

<body>
 <% include partials/nav.ejs %>
    <h1>Contacts Us</h1>
    <p>call us!</p>
</body>
</html>