<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>Awesome Website</title>
   <link href="/assets/styles.css" rel="stylesheet" />
</head>

<body>
 <% include partials/nav.ejs %>
    <h1>This is awesome Website</h1>
    <p>really cool</p>
</body>
</html>