<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>Great Website</title>
    <link href="/assets/styles.css" rel="stylesheet"/>
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>This is profile of <%= person %> </h1>
    <p>name: <%= data.name %></p>
    <p>age: <%= data.age %></p>
    <h2>Hobies:</h2>
    <ul>
        <% data.hobbies.forEach(function(item) {%>
            <li> <%= item %> </li>
        <%})%>
        
        %>
    </ul>
</body>
</html>