<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>Great Website</title>
    <style>
    body{background: rgb(15, 15, 15); padding: 30px; font-family: Verdana; color: white}
    h1{font-size: 48px; text-align: center; text-transform: uppercase; letter-spacing: 2px;}
    h2{font-size: 30px; text-align: center; text-transform: uppercase; letter-spacing: 2px;}
    p, li{font-size: 16px; text-align: center;}
    </style>
</head>

<body>
    <h1>This is profile of <%= person %> </h1>
    <p>name: <%= data.name %></p>
    <p>age: <%= data.age %></p>
    <h2>Hobies:</h2>
    <ul>
        <% data.hobbies.forEach(function(item) {%>
            <li> <%= item %> </li>
        <%})%>
        
        %>
    </ul>
</body>
</html>