body{background: rgb(15, 15, 15); padding: 30px; font-family: Verdana; color: white}
h1{font-size: 48px; text-align: center; text-transform: uppercase; letter-spacing: 2px;}
h2{font-size: 30px; text-align: center; text-transform: uppercase; letter-spacing: 2px;}
p, li{font-size: 16px; text-align: center;}